/data
/checkpoints
/.ipynb_checkpoints/
**/__pycache__


/src/.env.development
.run/
/trace.log
/.claim_check_env

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.out
